<h1>Add a new product</h1>
<form method="POST" action="/products">
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="price">Price: </label>
        <input type="text" id="price" name="price">
    </div>
    <div>
        <label for="desc">Description: </label>
        <input type="text" id="desc" name="description">
    </div>
    <div>
        <input type="submit" value="Store">
    </div>
</form> 